.global-footer-container {
    padding-top: 50px;
    padding-bottom: 82px;
}

footer {
    display: block;
    unicode-bidi: isolate;
}

.global-footer {
    direction: ltr;
    border-top: 1px solid var(--border-color-base, #a2a9b1);
    padding: 0.75em 0;
}

.global-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer-info li {
    line-height: 1.4;
}

.global-footer li {
    color: var(--color-base, #202122);
    margin: 0;
    padding: 0.5em 0;
    font-size: 0.75em;
}

#footer-icons {
    float: right;
}

#footer-icons li {
    float: left;
    margin-left: 0.5em;
    line-height: 2;
    text-align: right;
}

#footer-icons a {
    padding-left: 8px;
    padding-right: 8px;
    background-color: #f8f9fa;
}

img {
    border: 0;
    vertical-align: middle;
}

/* flc: footer copyright logo */
.fcl-button {
    min-height: 44px;
    color: var(--color-base, #202122);
    border-color: #72777d;
}

.fcl-button--size-large {
    min-height: 44px;
    padding-right: 15px;
    padding-left: 15px;
}















