body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}

.rb-global-page-container {

}
.rb-global-header-container {
    padding-left: 35px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 20px;
}

/* Protect header title image download. */
/* .rb-global-header-container a img {
    pointer-events: none;
} */

/* Navigator. */
.rb-global-navigator-container {
    display: flex;
    /* border: 2px solid #333;
    background-color: #fff; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.navigator-item {
    width: 150px;
    height: 40px;
    size: 100px;
    color: black;
    border-left: 1px solid black;
    text-decoration: none;
    text-align: center; /* Center horizontally */
    line-height: 40px;
    cursor: pointer;
}

.navigator-item:hover {
    background-color: #70C87D;
}

.rb-global-page-container-inner {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}







.rb-global-footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
}