body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}

.rb-global-page-container {

}
.rb-global-header-container {
    padding-left: 35px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 20px;
}

/* Protect header title image download. */
/* .rb-global-header-container a img {
    pointer-events: none;
} */

/* Navigator. */
.rb-global-navigator-container {
    display: flex;
    /* border: 2px solid #333;
    background-color: #fff; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.navigator-item {
    width: 150px;
    height: 40px;
    size: 100px;
    color: black;
    border-left: 1px solid black;
    text-decoration: none;
    text-align: center; /* Center horizontally */
    line-height: 40px;
    cursor: pointer;
}

.navigator-item:hover {
    background-color: #70C87D;
}

.rb-global-page-container-inner {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}



/* Adjustments for member section. */
.rb-project-member-library {
    display: flex;
    gap: 25px;
}

.rb-project-member-profile {
    width: 170px;
    /* height: 265px; */
    border: 1px solid black;
    /* display: inline; */
    /* display: flex; */
}

.rb-project-member-profile img {
    width: 170px;
    height: 220px;
    padding: 0;
    margin: 0;
    object-fit: cover;
    object-position: center;
    display: block; /* SOLUTION TO A GAP */
    /* Protect member headshots. */
    pointer-events: none;
}

/* #no-pic {
    width: 170px;
    height: 220px;
    font: bold;
    font-size: 15px;
    text-align: center;
    line-height: 220px;
} */

.rb-project-member-name {
    border-top: 1px solid black;
    width: 170px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-bottom: 1px solid black;
}

.rb-project-member-role {
    width: 164px;
    /* height: 20px; */
    font-size: 11px;
    text-align: center;
    /* line-height: 20px; */
    padding: 3px;
}


/* Content container box. */
.rb-content-container {
    /* border: 1px solid black; */
    padding: 10px 0 30px 0;
    display: flex;
    position: relative;
    /* align-items: center;; */
}

.rb-content-container-title {
    height: 35px;
    padding: 0 15px;
    border: 1px solid black;
    background-color: white;
    font-weight: bold;
    line-height: 35px;
    position: absolute;
}

.rb-content-container-title-green {
    height: 35px;
    padding: 0;
    margin: 0;
    border: 1px solid #37B34A;
    background-color: none;
    position: absolute;
}

.rb-content-container-inner {
    display: flex;
    margin-top: 17.5px;
    padding-top: 27.5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
    /* max-width: 400px; */
    background-color: white;
    /* position: absolute; */
}

.rb-content-container-inner-green {
    display: flex;
    margin-top: 17.5px;
    padding-top: 27.5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: #37B34A;
    border: 1px solid #37B34A;
    background-color: white;
}

.rb-abstract {
    font-weight: bold;
    font-style: italic;
}


/* Custom bullet point. */
.rb-content-container-inner ul {
    list-style: none; /* Remove default bullets */
    padding: 0;
    margin-right: 10px;
}

.rb-content-container-inner li {
    display: flex;
    align-items: center;  /* Align image with text */
    margin-bottom: 10px;  /* Add spacing between items */
}

.rb-content-container-inner li::before {
    content: "";
    background: url('../images/black-arrow-button.png') no-repeat center center;
    background-size: contain; /* Scale image properly */
    width: 12px;  /* Bullet size */
    height: 12px;
    margin-left: 5px;
    margin-right: 12px;  /* Spacing between bullet and text */
}




.rb-global-footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
}